name: Get data from GitHub GraphQL

on:
  push:
  workflow_dispatch:
  schedule:
    - cron:  '00 03 * * *'
    # Everyday at 03:00 am

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repo
      uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - uses: actions/cache@v2
      name: Configure pip caching
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install Python dependencies
      run: |
        python -m pip install -r get_github_data/requirements.txt
    - name: Update README
      env:
        GITHUB_TOKEN: ${{ secrets.API_GITHUB_TOKEN }}
      run: |-
        python get_github_data/query_graphql.py
        cat assets/ids_github_data.json
    - name: Commit and push if changed
      run: |-
        git diff
        git config --global user.email "vincent.emonet@gmail.com"
        git config --global user.name "Vincent Emonet"
        git add -A
        git commit -m "Update GitHub JSON data content" || exit 0
        git push
